@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "CremeEspana";
  src: url("./fonts/CremeEspana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.datebtn {
  @apply rounded-full px-4 py-2 border-[2px] pointer-events-auto;
}

.loader {
  @apply fixed top-0 z-[12] bg-black w-full h-[100vh] pointer-events-none transition-all;
}

.home__image {
  @apply w-full h-full;
}

.home__text {
  @apply absolute bottom-[5em] lg:bottom-[0] flex flex-col justify-center w-full text-white pointer-events-none;
}

.title {
  @apply translate-y-[100px];
}

.home__text__title {
  @apply flex flex-col lg:flex-row leading-[1.2em] lg:gap-2 font-['CremeEspana'] items-center text-[4em] md:text-[6em] xl:text-[8em];
}

.home__text p {
  @apply flex justify-center;
}

.home__text__para {
  @apply w-full flex justify-center items-center;
}

.home__text__p1 {
  @apply absolute;
}

.home__text__p2 {
  @apply opacity-[0.2] text-[orange] font-[600] text-[6em] md:text-[12em] xl:text-[14em];
}

.homeBtn {
  @apply fixed bottom-[0] left-[0] z-[10] p-8 w-[6em] xl:w-[8em] rotate-[-30deg];
}

.nav {
  @apply fixed top-0 z-[10] text-white text-sm lg:text-lg w-full p-[2em] transition-all duration-1000 flex justify-center lg:justify-end gap-[2em];
}

.navbtn {
  @apply absolute flex justify-between top-0 left-0 w-full h-full z-[20] p-[2em] md:p-[4em];
}

.navbtn > button {
  @apply flex self-end md:self-center w-[4em] lg:w-[5em] mb-[5em];
}

.navmenubtn > div {
  position: absolute;
  left: -100%;
  bottom: 0px;
  height: 0.2em;
  width: 80%;
  background: orange;
  transition: all 0.2s ease-in-out;
  /* absolute left-0 bottom-0 h-[0.2em] bg-[orange] w-[80%]  */
}

.navmenubtn:hover > div{
  left: 0%;
}

.pages {
  @apply h-[100vh] w-full sticky bottom-0 overflow-hidden;
}

.pages > p {
  @apply text-[12em] w-full flex justify-center items-center;
}

.home {
  @apply z-[6];
}

.story {
  @apply bg-[orange] z-[5];
}

.wish {
  @apply bg-white w-full h-[100vh];
}

.wish__contain {
  @apply flex flex-col pt-[8em] justify-center items-center;
}

.wish__title {
  @apply font-[CremeEspana] text-[6em] text-black;
}

.wish__text {
  @apply text-black w-[90%] lg:w-[50%];
}

.photo {
  @apply bg-black z-[4];
}

.photo__cont {
  @apply relative flex flex-col justify-center items-center h-full;
}

.photo__title {
  @apply relative z-[15] text-[orange] font-['CremeEspana'] text-[4em];
}

.photo__page1 {
  @apply absolute top-0 left-0 w-full h-full;
}

.photo__pics {
  position: absolute;
  display: flex;
  pointer-events: auto;
  overflow: hidden;
  transition: opacity 0.4s linear, clip-path 5s linear, all 0.2s ease-in-out;
}

.photo__image {
  @apply w-full;
  /* @apply md:w-[10em]; */
}

.picinit1 {
  top: calc(50vh - 5em);
  left: calc(50% - 5em);
  opacity: 0;
  transform: rotate(5deg);
  clip-path: polygon(9% 0%, 46% 10%, 85% 6%, 98% 20%, 82% 83%, 31% 67%, 4% 19%);
}

.picinit2 {
  top: calc(50vh - 5em);
  left: calc(50% - 5em);
  opacity: 0;
  transform: rotate(-5deg);
  clip-path: polygon(
    2% 1%,
    36% 6%,
    82% 2%,
    97% 19%,
    75% 65%,
    81% 75%,
    64% 88%,
    9% 68%,
    0% 25%
  );
}

.picinit3 {
  left: calc(50% - 5em);
  top: calc(50vh - 5em);
  opacity: 0;
  clip-path: polygon(
    0% 15%,
    28% 0%,
    99% 15%,
    96% 55%,
    42% 82%,
    26% 55%,
    0% 46%
  );
}

.picinit4 {
  top: calc(50vh - 5em);
  left: calc(50% - 5em);
  opacity: 0;
  clip-path: polygon(9% 0%, 46% 10%, 85% 6%, 98% 20%, 82% 83%, 31% 67%, 4% 19%);
}

.picinit5 {
  left: calc(50% - 5em);
  top: calc(50vh - 5em);
  opacity: 0;
  clip-path: polygon(
    2% 1%,
    36% 6%,
    82% 2%,
    97% 19%,
    75% 65%,
    81% 75%,
    64% 88%,
    9% 68%,
    0% 25%
  );
}

.picinit6 {
  top: calc(50vh - 5em);
  left: calc(50% - 5em);
  opacity: 0;
  clip-path: polygon(
    0% 15%,
    28% 0%,
    99% 15%,
    96% 55%,
    42% 82%,
    26% 55%,
    0% 46%
  );
}

.pic1 {
  @apply top-[60%] left-[10%] opacity-100 rotate-[-30deg] clip-polygon1;
}

.pic2 {
  @apply top-[20%] left-[50%] md:left-[60%] opacity-100 rotate-[30deg] clip-polygon2;
}

.pic3 {
  @apply top-[70%] left-[30%] md:left-[40%] opacity-100 rotate-[25deg] clip-polygon3;
}

.pic4 {
  @apply top-[20%] left-[20%] opacity-100 clip-polygon4;
}

.pic5 {
  @apply top-[60%] left-[50%] md:left-[70%] opacity-100 clip-polygon5;
}

.pic6 {
  @apply top-[10%] left-[50%] md:left-[40%] opacity-100 clip-polygon6;
}

.page__end{
  @apply absolute bottom-0 w-[60%] h-[5px] bg-[orange];
}

.story__container{
  @apply relative flex flex-col text-white items-center w-full h-full bg-black pt-[4em] md:pt-[8em] lg:pt-[4em];
}

.story__content{
  @apply w-full  ;
}

.story__title{
  @apply text-[6em] text-[orange] md:text-[8em] lg:text-[5em] font-[CremeEspana];
}

.scrollicon {
  @apply fixed bottom-0 flex w-full justify-center p-[2em];
}

.cursor {
  transform: translateY(0px);
  animation: cursorMove 0.6s ease-out infinite;
}

/* .swiper-pagination{
  background-color: red;
} */

.swiper-button-next, .swiper-button-prev { 
  color: orange !important; /* Change the color of the buttons */ 
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color */ 
  /* background-image: url("/icons/scroll-down.svg"); */
  border-radius: 100%; /* Make the buttons circular */ 
  width: 1em; 
  height: 1em; 
  padding: 2em;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-weight: bold;
} 

.swiper-button-next:hover, .swiper-button-prev:hover { 
  background-color: rgba(0, 0, 0, 0.8); /* Darken the background on hover */ 
} 

.swiper-button-next::after, .swiper-button-prev::after { 
  font-size: 20px; /* Increase the size of the arrow icons */ 
}

@keyframes cursorMove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 380px){
  .story__title{
    font-size: 2.5em;
  }
  .storyitem__title{
    font-size: 1.2em;
  }
  .storyitem__pic{
    width: 100%;
    height: 18em;
  }
}

@media only screen and (max-width: 480px) {
  .pic4 {
    top: 20%;
    left: 10%;
    clip-path: polygon(
      9% 0%,
      46% 10%,
      85% 6%,
      98% 20%,
      82% 83%,
      31% 67%,
      4% 19%
    );
  }
  .pic5 {
    bottom: 25%;
    right: 6%;
    clip-path: polygon(
      2% 1%,
      36% 6%,
      82% 2%,
      97% 19%,
      75% 65%,
      81% 75%,
      64% 88%,
      9% 68%,
      0% 25%
    );
  }
  .pic6 {
    top: 10%;
    left: 30%;
    clip-path: polygon(
      0% 15%,
      28% 0%,
      99% 15%,
      96% 55%,
      42% 82%,
      26% 55%,
      0% 46%
    );
  }
}
